NTUSER*
OneDrive
Desktop
Documents
Contacts
Favorites
Links
Music
Pictures
Saved\ Games
Videos
Downloads
Searches
bin
org
scoop
source
.nuget
.pulse
.sonarlint
.ssh
.templateengine
.viminfo
.vs
.vscode
.bash_history
.cache
.config
.docker
.emacs.d
.esd_auth
.gitconfig
.librarymanager
.dotnet
.local
.minttyrc
.pulse*
3D\ Objects
AppData
Arch
